.upload-form img,
.file-preview img,
.file-preview video {
  max-width: 100%;
  max-height: 80vh;
}

.upload-form img:hover {
  cursor: pointer;
}

.upload-form img:hover {
  cursor: pointer;
}

.message {
  &.error {
    --msg-color: rgb(241, 121, 97);
  }

  &.info {
    --msg-color: rgb(208, 210, 250);
  }

  &.success {
    --msg-color: rgb(33, 226, 153);
  }
  background-color: var(--msg-color);
}
