{# vim: set ft=jinja #}
{% extends "base.html" %}
{% block title %}Vrac: password required{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block body %}
    <h1>A password is required to view this content</h1>
    <form action="{{action}}" method="post">
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" autofocus>
        </p>
        <input type="submit" name="go" value="Go">
    </form>
{% endblock body %}
