{# vim: set ft=jinja #}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>
                {% block title %}
                {% endblock title %}
            </title>
            <link rel="stylesheet" href="/static/pico.green.min.css">
            <link rel="stylesheet" href="/static/styles.css">
        {% endblock head %}
    </head>
    <body>
        <main class="container">
            {% if (messages is defined) and (messages|length > 0) %}
                {% for msg in messages %}
                    <article class="message {{ msg.l|lower }}">{{ msg.m }}</article>
                {% endfor %}
            {% endif %}
            {% block body %}
            {% endblock body %}
        </main>
    </body>
</html>
