{# vim: set ft=jinja #}
<!DOCTYPE html>

<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% endblock head %}
  </head>

  <body>
    {% block body %}

    {% if notifications %}
      {% for notif in notifications %}
        {% if notif.level != "Debug" %}
        <p class="notif {{notif.level}}">{{notif.message}}</p>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% endblock body %}
  </body>

</html>
