{# vim: set ft=jinja #}
{% extends "base.html" %}
{% block title %}Vrac: login{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block body %}
    <h1>Login required</h1>
    <form action="/login" method="post">
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autofocus>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </p>
        {% if next is defined %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <input type="submit" name="Login" value="login">
    </form>
{% endblock body %}
